.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  background-color: var(--gray-700);
  height: 300px;
}

.errorWrapper {
  width: 100%;
  border: 4px solid var(--primary);
  background-color: darksalmon;
  text-align: center;
  color: var(--primary);
  padding-block: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}
