.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.62;
  background-color: var(--gray-900);
  z-index: -1;
}
